body {
  margin: 0;
}

#root {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 70px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.input-text {
  flex: 3;
  margin: 10px;
}

.flex-item {
  flex: 1;
  margin: 10px;

}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;

}

.navbar-icons {
  display: flex;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.WishItem {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px;
}

.WishItem .wish-content {
  display: flex;
  flex-direction: column;
}

.WishItem label {
  font-size: 18px;
  margin-left: 10px;
}

.WishItem .wish-text {
  text-align: left;
  margin-bottom: 10px;
}

.WishItem .completed {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}

.wish-item {
  display: flex;
  justify-content: space-between;
}

.wish-item .wish-type {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}


.WishItem .wish-date {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.WishItem .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Wishlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.WishItem label.text {
  font-size: 16px;
  margin-top: 5px;
  display: flex;
}

.WishItem .wish-editbuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WishItem .wish-button {
  cursor: pointer;
}

.divinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divborder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #685f5f;
  border-radius: 5px;
  width: 350px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

.input-text {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.input-edit {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.Button {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  background-color: #999494;
  color: rgb(11, 11, 11);
  width: 150px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

.MyButton {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  background-color: #999494;
  color: rgb(11, 11, 11);
  width: 150px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

.MyButton:hover {
  background-Color: '#999494'
}